<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.mgumz.alfred-mini-spotify</string>
	<key>connections</key>
	<dict>
		<key>1E8B3860-0C41-4314-A35E-E65C9E3024F3</key>
		<array/>
		<key>4809C19F-F094-40B6-8989-E283BBA24282</key>
		<array/>
		<key>80AF3A41-9A25-4225-9F04-88E39B7680C5</key>
		<array/>
		<key>A02418DC-DBC6-4B19-AA66-E32289D59B3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80AF3A41-9A25-4225-9F04-88E39B7680C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2D2A34E9-72CC-4419-8C51-64B5F3519A2B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4809C19F-F094-40B6-8989-E283BBA24282</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3BEED7B1-6AF4-498C-9044-9E4EA6245249</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1E8B3860-0C41-4314-A35E-E65C9E3024F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9AD036E1-8E32-4E33-AF27-731C52F3AE53</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A12F3F18-C8EF-459B-9C38-68C03B93521E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>56A5FEB5-050A-4094-9CE0-0F7E8A53DFA2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>10188153-FFF7-40E6-A24B-7EA61188CD2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE624DD5-2E04-4053-AB2E-03A77B3BC59B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A02418DC-DBC6-4B19-AA66-E32289D59B3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D95F4526-61B7-4BCF-8DB6-B02D25A58E92</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A02418DC-DBC6-4B19-AA66-E32289D59B3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>M. Gumz</string>
	<key>description</key>
	<string>Mini Control of Spotify</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Mini Spotify</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Spotify" to next track</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>80AF3A41-9A25-4225-9F04-88E39B7680C5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Spotify" to pause</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4809C19F-F094-40B6-8989-E283BBA24282</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>#</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Play | Pause | Next | Back</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CE624DD5-2E04-4053-AB2E-03A77B3BC59B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^(n|nt|next)</string>
						<key>outputlabel</key>
						<string>next-track</string>
						<key>uid</key>
						<string>2D2A34E9-72CC-4419-8C51-64B5F3519A2B</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^(s|stop)</string>
						<key>outputlabel</key>
						<string>stop</string>
						<key>uid</key>
						<string>3BEED7B1-6AF4-498C-9044-9E4EA6245249</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^(p|play|pause)</string>
						<key>outputlabel</key>
						<string>play / pause</string>
						<key>uid</key>
						<string>9AD036E1-8E32-4E33-AF27-731C52F3AE53</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^(pr|prev)</string>
						<key>outputlabel</key>
						<string>previous</string>
						<key>uid</key>
						<string>56A5FEB5-050A-4094-9CE0-0F7E8A53DFA2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>open</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A02418DC-DBC6-4B19-AA66-E32289D59B3C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Spotify" to playpause</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1E8B3860-0C41-4314-A35E-E65C9E3024F3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Spotify" to previous track</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A12F3F18-C8EF-459B-9C38-68C03B93521E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>1</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>#</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>…</string>
				<key>script</key>
				<string>bash ./scripts/spotify-track-as-alfred.bash "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/spotify-track-as-alfred.bash</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Spotify Mini</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D95F4526-61B7-4BCF-8DB6-B02D25A58E92</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Spotify.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>10188153-FFF7-40E6-A24B-7EA61188CD2D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Mini Spotify

Mini Spotify is a small helper to quickly Pause / Resume playing music
via Spotify from within Alfred.

## Under the Hood

MS leverages AppleScript and the hooks which Spotify provides to control it.
References:

* /Applications/Spotify.app/Contents/Resources/Spotify.sdef

* https://github.com/dronir/SpotifyControl/issues/2
    </string>
	<key>uidata</key>
	<dict>
		<key>10188153-FFF7-40E6-A24B-7EA61188CD2D</key>
		<dict>
			<key>xpos</key>
			<real>930</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>1E8B3860-0C41-4314-A35E-E65C9E3024F3</key>
		<dict>
			<key>note</key>
			<string>play / pause</string>
			<key>xpos</key>
			<real>935</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>4809C19F-F094-40B6-8989-E283BBA24282</key>
		<dict>
			<key>note</key>
			<string>pause playing</string>
			<key>xpos</key>
			<real>755</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>80AF3A41-9A25-4225-9F04-88E39B7680C5</key>
		<dict>
			<key>note</key>
			<string>play next track</string>
			<key>xpos</key>
			<real>890</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>A02418DC-DBC6-4B19-AA66-E32289D59B3C</key>
		<dict>
			<key>note</key>
			<string>switch action</string>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>A12F3F18-C8EF-459B-9C38-68C03B93521E</key>
		<dict>
			<key>note</key>
			<string>previous track</string>
			<key>xpos</key>
			<real>755</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>CE624DD5-2E04-4053-AB2E-03A77B3BC59B</key>
		<dict>
			<key>note</key>
			<string>trigger via keyboard</string>
			<key>xpos</key>
			<real>90</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>D95F4526-61B7-4BCF-8DB6-B02D25A58E92</key>
		<dict>
			<key>note</key>
			<string>fetch current state of spotify</string>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/mgumz/alfred-workflow-mini-spotify.git</string>
</dict>
</plist>
